
<h2 >2019 Fall</h2>
<div align="center">
<table>
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Topic</th>
    <th>Presenters</th>
    <th>Slides</th>
    <th>Papers</th>
  </tr>

  <tr>
    <td>1</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>sadff</td>
    <td>Mexissssco</td>
    <td>1.Mexiasdfadsfasdfasdfasdfadsfas
      <br>
        2.xxxxxxxxxxxxxxxx</td>
  </tr>

    <tr>
    <td>1</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>sadff</td>
    <td>Mexissssco</td>
    <td>Mexiasdfadsfasdfasdfasdfadsfasdfasdfasdfasdfasdfasdfsdafco</td>
  </tr>
<!-- 
  <tr>
    <td>1</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Helen Bennett</td>
    <td>UK</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
    <td>Mexico</td>
  </tr> -->
</table>
</div>
<h3>Previous presentations</h3>
<a href="/readinggroup/2019Spring | relative_url">2019 Spring</a><br>
<a href="/readinggroup/2019Spring | relative_url">2019 Winter</a><br>
<a href="/readinggroup/2019Spring | relative_url">2018 Fall</a>

