---
layout: default
---
{% include share_thumbnail.html page=page %}

<article class="feature-image">

	<header id="main" style="background-image: url('/assets/img/pexels/travel.jpeg'); background-position: 100% 0px, 0% center, center top;">
	    <h1 id="Reading+Group" class="title">
	        Reading Group
	    </h1>
	    
	    
	      
	  </header>
  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}

	<h2 >2019 Winter</h2>
	<div align="center">
	<table>
	  <tr>
	    <th>#</th>
	    <th>Date</th>
	    <th>Topic</th>
	    <th>Presenter</th>
	    <th>Slides</th>
	    <th>Papers</th>
	  </tr>

	  <tr>
	    <td>1</td>
	    <td>1/7</td>
	    <td>DRL for KBR</td>
	    <td>Changjun Fan</td>
	    <td><a href="https://drive.google.com/open?id=1oJxjt99TqJu4XNBEgVWV3sqoV1B_IrE8">slides</a></td>
	    <td>1.DeepPath: A Reinforcement Learning Method for Knowledge Graph Reasoning. EMNLP 2017<br>
			2.Go for a walk and arrive at the answer: reasoning over paths in knowledge bases using reinforcement learning. ICLR 2018<br>
			3.M-Walk: Learning to Walk in Graph with Monte Carlo Tree Search. NIPS 2018
	  </tr>

	    <tr>
	    <td>2</td>
	    <td>1/28</td>
	    <td>Dynamic Word Embedding</td>
	    <td>Song Jiang</td>
	    <td><a href="https://drive.google.com/file/d/1d1lR9LImFGx9l4__wR9iGLd5HUg9fSp5/view?usp=sharing">slides</a></td>
	    <td>1. Yoon Kim et al. Temporal Analysis of Language through Neural Language Models  (ACL'14 Workshop) <br> 
			2. Vivek Kulkarni et al, Statistically Significant Detection of Linguistic Change (WWW'15)<br>
			3. William Hamilton et al, Diachronic Word Embeddings Reveal Statistical Laws of Semantic Change (ACL'16)<br>
			4. Robert Bamler et al, Dynamic Word Embeddings (ICML'17)
	    </td>
	  </tr>

	    <tr>
	    <td>3</td>
	    <td>2/4</td>
	    <td>Large Scale Training of GNN</td>
	    <td>Ziniu Hu</td>
	    <td><a href="https://drive.google.com/file/d/18WGQGYlW40uRjuCYB4V5n5RjGBUjx8F8/view?usp=sharing">slides</a></td>
	    <td>1. Graph Convolutional Neural Networks for Web-Scale Recommender Systems (KDD' 2018)<br>
			2. Adaptive Sampling Towards Fast Graph Representation Learning (NIPS' 2018)<br>
			3. FastGCN: Fast Learning with Graph Convolutional Networks via Importance Sampling (ICLR' 2018)<br>
			4. Stochastic Training of Graph Convolutional Networks with Variance Reduction (ICML' 2018)<br>
			5. GeniePath: Graph Neural Networks with Adaptive Receptive Paths (AAAI' 2019)
	    </td>
	  </tr>  

	  	<tr>
	    <td>4</td>
	    <td>3/4</td>
	    <td>Knowledge Graph Meets Logic Rules</td>
	    <td>Junheng Hao</td>
	    <td><a href="https://drive.google.com/drive/folders/1rhd_-95aKEJy8PB_t62L9gbH7jie1Msd?usp=sharing">slides</a></td>
	    <td>1. Jointly Embedding Knowledge Graphs and Logical Rules (EMNLP’16)<br>
			2. Knowledge Graph Embedding with Iterative Guidance from Soft Rules (AAAI’18)<br>
			3. Iteratively Learning Embeddings and Rules for Knowledge Graph Reasoning (WWW’19)
	    </td>
	  </tr>  

	  	 <tr>
	    <td>5</td>
	    <td>3/11</td>
	    <td>ICLR 2019 Papers on Graph Deep Learnin</td>
	    <td>Yunsheng Bai</td>
	    <td><a href="https://docs.google.com/presentation/d/1t4tpoCPCayo7Qt3ri2qvJaMLIFXG8EmOamRTNj-21g0/edit?usp=sharing">slides</a></td>
	    <td>1. Supervised Community Detection with Line Graph Neural Networks (ICLR 2019) (rank: 34)<br>
			2. LanczosNet: Multi-Scale Deep Graph Convolutional Networks (ICLR 2019) (rank: 82)<br>
			3. Deep Graph Infomax (ICLR 2019) (rank: 115)<br>
			4. Invariant and Equivariant Graph Networks (ICLR 2019) (rank: 176)<br>
			5. DyRep: Learning Representations over Dynamic Graphs (ICLR 2019) (rank: 177)<br>
			6. Learning Multimodal Graph-to-Graph Translation for Molecule Optimization (ICLR 2019) (rank: 228) 
	    </td>
	  </tr>  

	  	 <tr>
	    <td>6</td>
	    <td>3/18</td>
	    <td>Meta Learning</td>
	    <td>Ting Chen</td>
	    <td><a href="https://drive.google.com/open?id=0BzQgPrgWEoZFcU9uTUllVGNoZXJxdUJ5MWc5ZjdMWDVFaENR">slides</a></td>
	    <td>1. Tutorial slides from Hugo Larochelle attached below (with paper references).<br>
			2. A blog post from Chelsea Finn: https://bair.berkeley.edu/blog/2017/07/18/learning-to-learn/<br>
			3. A NIPS workshop: http://metalearning-symposium.ml/
	    </td>
	  </tr>

	</table>
	</div>





  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
    
</article>

