---
layout: default
---
{% include share_thumbnail.html page=page %}

<article class="feature-image">

	<header id="main" style="background-image: url('/assets/img/pexels/travel.jpeg'); background-position: 100% 0px, 0% center, center top;">
	    <h1 id="Reading+Group" class="title">
	        Reading Group
	    </h1>
	    
	    
	      
	  </header>
  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}

	<h2 >2019 Spring</h2>
	<div align="center">
	<table>
	  <tr>
	    <th>#</th>
	    <th>Date</th>
	    <th>Topic</th>
	    <th>Presenter</th>
	    <th>Slides</th>
	    <th>Papers</th>
	  </tr>

	  <tr>
	    <td>1</td>
	    <td>4/2</td>
	    <td>WWW 2019 Papers on logical rule mining</td>
	    <td>Kewei Cheng</td>
	    <td><a href="https://drive.google.com/file/d/15GSKij3dJYXABJKqj0ml5dHlwXD2VOYO/view?usp=sharing">slides</a></td>
	    <td>1.Jointly Learning Explainable Rules for Recommendation with Knowledge Graph (WWW 2019)<br>
			2.Predicting ConceptNet Path Quality Using Crowdsourced Assessments of Naturalness (WWW 2019)<br>
			3.Learning How to Correct a Knowledge Base from the Edit History (WWW 2019)
	  </tr>

	    <tr>
	    <td>2</td>
	    <td>4/9 4/16 4/23</td>
	    <td>Graph Generation</td>
	    <td>Yewen Wang</td>
	    <td><a href="https://docs.google.com/presentation/d/18gtPrSNqx3q3klQNoFlyJua7OzOmdKbKWVF3MgWafzs/edit?usp=sharing">slides</a></td>
	    <td>1. Kronecker Graphs: An Approach to Modeling Networks (JMLR) <br> 
			2. GraphRNN: Generating Realistic Graphs with Deep Auto-regressive Models (ICML18)<br>
			3. Molgan : An implicit generative model for small molecular graphs (ICML18 workshop)<br>
			4. graphVAE: Towards Generation of Small Graphs Using Variational Autoencoders arxiv preprint<br>
			5. Learning Deep Generative Models of Graphs (ICLR 18 workshop)
	    </td>
	  </tr>

	    <tr>
	    <td>3</td>
	    <td>4/30</td>
	    <td>Causal Inference</td>
	    <td>Song Jiang</td>
	    <td><a href="https://docs.google.com/presentation/d/1PpbkgU5DU0pRRjWNCkhz3X6aQuJT9xdYEtQVnMDfYbw/edit?usp=sharing">slides</a></td>
	    <td>1. Learning Representations for Counterfactual Inference ICML'16<br>
			2. Estimating individual treatment effect: generalization bounds and algorithms ICML'17<br>
			3. Representation Learning for Treatment Effect Estimation from Observational Data NIPS'18
	    </td>
	  </tr>  

	  	<tr>
	    <td>4</td>
	    <td>5/14</td>
	    <td>Convolutional Networks Explainer</td>
	    <td>Patricia Xiao</td>
	    <td><a href="http://web.cs.ucla.edu/~patricia.xiao/files/Spring_2019_reading_group.pdf">slides</a></td>
	    <td>1. Learning Deep Features for Discriminative Localization  CVPR'16<br>
			2. Grad-CAM: Visual Explanations from Deep Networks via Gradient-Based Localization ICCV'17<br>
			3. A Tool for Post-hoc Explanation of Graph Neural Networks ArXiv'19
	    </td>
	  </tr>  

 	  	 <tr>
	    <td>5</td>
	    <td>8/27</td>
	    <td>Network Density of States</td>
	    <td>Ji Zou</td>
	    <td><a href="https://drive.google.com/file/d/1ldKnfwKZx67YNR2Fc6E8mwBsd7nd99Nw/view?usp=sharing">slides</a></td>
	    <td>1. Network Density of States KDD'19
	    </td>
	  </tr>
	</table>
	</div>





  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
    
    
  <!-- Tag list for portfolio -->
  <!-- {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %} -->
  <!-- {% include tags_list.html tags=tag_list %} -->
    
</article>

